/*==================     Subscribe Form     ======================*/

$form-height: 46px;
$form-border: 1px solid #c7f5ef;
$form-color: #c1c1c1;
$form-bg: #fff;

//--------------------------------------------------------------
//                      Subscribe Form
//--------------------------------------------------------------
.subscribe-form{
  position: relative;
  display: inline-block;
  width: 562px;

  label {
    display: inline-block;
    max-width: 410px;
    width: 100%;
    position: relative;
    padding: (($form-height - 22)/2) 17px (($form-height - 22)/2);
    background: $form-bg;
    border: $form-border;
     @include box-sizing(border-box);
  }

  input {
    @include reset-input;
    color: $form-color;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    font-family: $ubuntu;
    line-height: 22px;
    text-transform: uppercase;
    height: 22px;
  }
  a[data-type="submit"]{
    padding: 12px 20px;
    font-size: 19px;
    line-height: 24px;
  }

  label + a[data-type="submit"]{
    margin-top: 0;
    margin-left: 6px;
  }

  @media (max-width: 979px) {
    label + a[data-type="submit"] {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}

//--------------------------------------------------------------
//                    Responsive Layout
//--------------------------------------------------------------
@media (max-width: 479px) {
  .subscribe-form label{
    width: 100%;
  }
}

