//==========================================================
//                      Variables
//==========================================================

//Fonts
$ubuntu: 'Ubuntu', sans-serif;

//Main palette
$header-bg: #333333;
$content-bg: #fff;
$footer-bg: #2fe6ce;

$body-bg: $footer-bg;
$body-fnt: 400 16px/29px $ubuntu;

$default: #808289;
$primary: #2fe6ce;
$secondary: #f7f7f7;
$secondary2: #494b52;

$icon-font-path: "../fonts/";
$icon-material-design:     "materialdesignicons-webfont";
$icon-material-design-id:  "materialdesigniconsregular";